html, body {
  font-size: large;
  font-family: "Computer Modern Serif";
  background-color:#cfc4b2;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hidden > :not(#p5-container) {
  display: none;
}

h1 {
  text-align: center;
}

#text-container {
  width: min(90vw, 100ch);
  text-align: justify;
}

#text-container pre {
  margin-left: 2ch;
}

.katex {
  font-size: 1em !important;
}

#p5-container { 
  position: relative;
}

.bottom-right {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}

canvas {
  display: block;
}

button {
  background-color: white; /* Green */
  border: none;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 50%;
}

button:hover {
  /*background-color: rgb(208, 196, 196);*/
  opacity: 100%;
}
* {
	outline: none;
}